<style>


    .Index {
        width: 100%;
        height: 100%;
    }

    .myGrid {
        width: 800px;
        height: 450px;
    }
</style>

<div class="Index">
    <login ng-if="!vm.IsLogon"></login>
    <home ng-if="vm.IsLogon"></home>
        <!--Programa de gestión académica       

        <input type="button" ng-click="vm.RequestStudents()" value="Ver estudiantes" />
        <div ui-grid="{ data: vm.Students }" class="myGrid"></div>
        <input type="button" ng-click="vm.RequestSubjects()" value="Ver asignaturas" />
        <div ui-grid="{ data: vm.Subjects }" class="myGrid"></div>-->

    
</div>