*.dll
ConsoleApp2_oop_Solution_Completa/.vs/ConsoleApp1/v16/.suo
ConsoleApp2_oop_Solution_Completa/.vs/ConsoleApp1/v16/Server/sqlite3/storage.ide
ConsoleApp2_oop_Solution_Parcial/.vs/ConsoleApp1/v16/.suo
ConsoleApp2_oop_Solution_Parcial2/.vs/ConsoleApp1/v16/.suo
ConsoleApp2_oop_Solution_Parcial2/.vs/ConsoleApp1/v16/Server/sqlite3/storage.ide
